<main class="w-full">
  <h2 class="mat-h1 title">Funzioni Esponenziali</h2>
  <section>
    <h3 class="text-purple-900">Grafici Della funzione Y = A<sup>x</sup></h3>
    <article class="flex justify-start gap-40 mb-4">
      <span class="flex flex-col items-center">
        <p class="text-red-900">A &gt; 1</p>
        <img src="assets/esponenziali1.png" alt="grafico esponenziale   A > 1" class="h-60 border border-black">
      </span>
      <span class="flex flex-col items-center">
        <p class="text-red-900">0 &lt; A &lt; 1</p>
        <img src="assets/esponenziali2.png" alt="grafico esponenziale 2" class="h-60 border border-black">
      </span>
    </article>
    <article>
      <ul>
        <li>Il Dominio &egrave; &reals;,&nbsp;&nbsp;&nbsp; L'immagine e' &reals;<sup>+</sup></li>
        <li>L'Ordinata e' l'asintoto del grafico della funzione logaritmica</li>
        <li>Il Grafico Tocca sempre le coordinate (1, 0)</li>
      </ul>
    </article>
  </section>
</main>
