<main>
  <h1 class="mat-h1 title">Grafici di funzioni e Trasformazioni geometriche</h1>
  <h1 class="text-red-900">GRAFICI</h1>
  <div class="flex flex-wrap justify-around mb-20">

  <section class="mb-10">

    <h2 class="text-purple-900">Valore Assoluto</h2>
    <span class="flex">
      <span class="flex justify-center border border-black relative">
        <h1 class="text-blue-900 absolute bg-white ">Y = |X|</h1>
        <img src="assets/graph1.png" alt="grafico" class=" w-80">
      </span>
    </span>
  </section>
  <section>
    <h2 class="text-purple-900">Funzione Reciproca</h2>
    <span class="flex">
      <span class="flex justify-center border border-black relative">
        <h1 class="text-blue-900 absolute bg-white ">Y = 1/X</h1>
        <img src="assets/graph2.png" alt="grafico" class=" w-80">
      </span>
    </span>
  </section>
  <section>
    <h2 class="text-purple-900">Funzione Quadrato (Parabola)</h2>
    <span class="flex">
      <span class="flex justify-center border border-black relative">
        <h1 class="text-blue-900 absolute bg-white ">Y = X<sup>2</sup></h1>
        <img src="assets/graph3.png" alt="grafico" class=" w-80">
      </span>
    </span>
  </section>
  <section>
    <h2 class="text-purple-900">Funzione Radice (Quadrata)</h2>
    <span class="flex">
      <span class="flex justify-center border border-black relative">
        <h1 class="text-blue-900 absolute bg-white ">Y = &radic;X</h1>
        <img src="assets/graph4.png" alt="grafico" class=" w-80">
      </span>
    </span>
  </section>
  <section>
    <h2 class="text-purple-900">Funzione Cubo</h2>
    <span class="flex">
      <span class="flex justify-center border border-black relative">
        <h1 class="text-blue-900 absolute bg-white ">Y = X<sup>3</sup></h1>
        <img src="assets/graph5.png" alt="grafico" class=" w-80">
      </span>
    </span>
  </section>
  <section>
    <h2 class="text-purple-900">Funzione Radice (Cubica)</h2>
    <span class="flex">
      <span class="flex justify-center border border-black relative">
        <h1 class="text-blue-900 absolute bg-white ">Y = &#8731;X	</h1>
        <img src="assets/graph6.png" alt="grafico" class=" w-80">
      </span>
    </span>
  </section>
  </div>
  <section>
    <h1 class="text-red-900">Trasformazioni Geometriche</h1>
    <article>
      <div class="text-lg mb-2 flex gap-10"><code class="text-blue-900">Y = -f(x)&nbsp;</code> &rightarrow; <aside class="text-yellow-600">Simmetrizza Il Grafico Rispetto All'asse X</aside></div>
      <div class="text-lg mb-2 flex gap-10"><code class="text-blue-900">Y = f(-x)&nbsp;</code> &rightarrow; <aside class="text-yellow-600">Simmetrizza Il Grafico Rispetto All'asse Y</aside></div>
      <div class="text-lg mb-2 flex gap-10"><code class="text-blue-900">Y = |f(x)|</code> &rightarrow; <aside class="text-yellow-600">Simmetrizza I Valori Negativi Rispetto All'asse X</aside></div>
      <div class="text-lg mb-2 flex gap-10"><code class="text-blue-900">Y = f(|x|)</code> &rightarrow; <aside class="text-yellow-600">Simmetrizza I Valori Negativi Rispetto All'asse Y</aside></div>
      <div class="text-lg mb-2 flex gap-10"><code class="text-blue-900">Y = f(x+a)</code> &rightarrow; <aside class="text-yellow-600">Trasla Orizzontalmente il Grafico di <b class="text-blue-500">a</b> unit&agrave; verso Sinistra</aside></div>
      <div class="text-lg mb-2 flex gap-10"><code class="text-blue-900">Y = f(x-a)</code> &rightarrow; <aside class="text-yellow-600">Trasla Orizzontalmente il Grafico di <b class="text-blue-500">a</b> unit&agrave; verso Destra</aside></div>
      <div class="text-lg mb-2 flex gap-10"><code class="text-blue-900">Y = f(x)+b</code> &rightarrow; <aside class="text-yellow-600">Trasla Verticalmente il grafico di <b class="text-blue-500">b</b> unit&agrave; verso l'alto</aside></div>
      <div class="text-lg mb-2 flex gap-10"><code class="text-blue-900">Y = f(x)-b</code> &rightarrow; <aside class="text-yellow-600">Trasla Verticalmente il grafico di <b class="text-blue-500">b</b> unit&agrave; verso il basso</aside></div>
      <div class="text-lg mb-2 flex gap-10"><code class="text-blue-900">Y = f(x)*k</code> &rightarrow; <aside class="text-yellow-600">Dilata Verticalmente il Grafico del fattore <b class="text-blue-500">k</b></aside></div>
      <div class="text-lg mb-2 flex gap-10"><code class="text-blue-900">Y = f(x*k)</code> &rightarrow; <aside class="text-yellow-600">Dilata Orizzontalmente il Grafico del fattore <b class="text-blue-500">1/k</b></aside></div>
    </article>
  </section>
</main>
