<main class="w-full">
  <h2 class="mat-h1 title">Funzioni Logaritmiche</h2>
  <section class="mb-10">
    <h3 class="text-purple-900">Grafici Della funzione Y = Log<sub>a</sub>X</h3>
    <article class="flex justify-start gap-40 mb-4">
      <span class="flex flex-col items-center">
        <p class="text-red-900">A &gt; 1</p>
        <img src="assets/logaritmi1.png" alt="grafico log 1" class="h-60 border border-black">
      </span>
      <span class="flex flex-col items-center">
        <p class="text-red-900">0 &lt; A &lt; 1</p>
        <img src="assets/logaritmi2.png" alt="grafico log 2" class="h-60 border border-black">
      </span>
    </article>
    <article>
      <ul>
        <li>Il Dominio &egrave; &reals;<sup>+</sup>,&nbsp;&nbsp;&nbsp; L'immagine e' &reals;</li>
        <li>Il Grafico della funione si avvicina All'ascisse senza mai toccarla</li>
        <li>Il Grafico Tocca sempre le coordinate (0, 1)</li>
      </ul>
    </article>
  </section>
  <section class="mb-10">
    <h3 class="text-purple-900">Propriet&agrave; Dei Logaritmi</h3>
    <article>
      <ul class="list-disc">
        <li><code>log<sub><sub>a</sub></sub>a &equals; 1</code></li>
        <li><code>log<sub><sub>a</sub></sub>1 = 0</code> &nbsp;&nbsp;&nbsp; (a &ne; 0)</li>
        <li><code>log(A &times; B) = log(A) + log(B)</code></li>
        <li><code>log(A &divide; B) = log(A) - log(B)</code></li>
        <li><code>log(A<sup>B</sup>) = B&times;log(A)</code></li>
      </ul>
    </article>
  </section>
  <section class="mb-10">
    <h3 class="text-purple-900">Cambiamento di Base</h3>
    <article>
      <code>log<sub><sub>a</sub></sub>b = (log<sub><sub title="Nuova Base">c</sub></sub><span title="Argomento">b</span>)/(log<sub><sub title="Nuova Base">c</sub></sub><span title="Vecchia Base">a</span>)</code>
    </article>
  </section>
  <section class="mb-10">
    <h3 class="text-purple-900">Equazione Logaritmica</h3>
    <p>Per essere definita Equazione logaritmica un logaritmo deve avere come argomento un valore incognito f(x), f(x) > 1</p>
    <code class="text-blue-900">Log<sub><sub>a</sub></sub>f(x) = b &rightarrow; f(x) = a<sup>b</sup> </code>
  </section>
  <section class="mb-10">
    <h3 class="text-purple-900">Disequazioni Logaritmiche</h3>
    <span class="flex flex-col">
      <code class="text-blue-900 flex items-center mb-10"><span>Log<sub><sub>a</sub></sub>f(x) &gt; b, con a > 1 &rightarrow; </span> &nbsp; <span class="flex flex-col items-center"><p> &lbrace;f(x) > 0 </p><p> &lbrace;f(x) > a<sup>b</sup> </p></span> </code>
      <code class="text-blue-900 flex items-center"><span>Log<sub><sub>a</sub></sub>f(x) &gt; b, con 0 < a < 1 &rightarrow; </span> &nbsp; <span class="flex flex-col items-center"><p> &lbrace;f(x) > 0  </p><p> &lbrace;f(x) < a<sup>b</sup> </p></span> </code>
    </span>
  </section>
</main>

