main{
  width: 100%;
}
a{
  text-decoration: none;
  font-size: 25px;
  color: #000052;
}
a:hover{
  color: #0000dc;

}
.links{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.active{
  color: #0000dc;

}
.buttons{
  width: 90%;
  margin-left: 5px;
}
