<main>
  <h1>SECTIONS</h1>
  <div class="links">
    <div><a mat-raised-button class="mat-elevation-z5 buttons" routerLink="/eqz" routerLinkActive="active">Equazioni/Disequazioni</a></div>
    <div><a mat-raised-button class="mat-elevation-z5 buttons" routerLink="/geometry" routerLinkActive="active">Geometria</a></div>
    <div><a mat-raised-button class="mat-elevation-z5 buttons" routerLink="/graphs" routerLinkActive="active">Grafici</a></div>
    <div><a mat-raised-button class="mat-elevation-z5 buttons" routerLink="/log" routerLinkActive="active">Logaritmi</a></div>
    <div><a mat-raised-button class="mat-elevation-z5 buttons" routerLink="/esp" routerLinkActive="active">Esponenziali</a></div>
    <div><a mat-raised-button class="mat-elevation-z5 buttons" routerLink="/func" routerLinkActive="active">Funzioni</a></div>
  </div>
</main>
