<main class="w-full">
  <h2 class="mat-h1 title">Geometria Analitica</h2>
  <section class="mb-10">
    <h3 class="text-purple-900">Piano Cartesiano</h3>
    <span class="flex items-center gap-10">
      <img src="assets/geometriaAnalitica1.jpg" alt="Piano cartesiano" class="border-2 border-black w-60">
      <p class="text-blue-900 text-lg">A(X, Y) <span class="text-black"> &rightarrow;  Coordinate</span></p>
    </span>
  </section>
  <section class="mb-10">
    <h3 class="text-purple-900">Distanza Tra 2 Punti A e B</h3>
    <span class="flex items-center gap-10">
      <img src="assets/geometriaAnalitica2.jpg" alt="Piano cartesiano" class="border-2 border-black w-60">
      <p class="text-blue-900 text-lg">f = &radic;((X<sub>A</sub> - X<sub>B</sub>)<sup>2</sup> + (Y<sub>A</sub> - Y<sub>B</sub>)<sup>2</sup>)</p>
    </span>
  </section>
  <section class="mb-10">
    <h3 class="text-purple-900">Punto Medio Della Retta <span class="overline">AB</span></h3>
    <span class="flex items-center gap-10">
      <img src="assets/geometriaAnalitica3.jpg" alt="Piano cartesiano" class="border-2 border-black w-60">
      <span class="text-blue-900 text-lg flex items-center gap-1"><span>M = </span><span class="flex flex-col"><p class="m-auto"> &lbrace;X = (X<sub>A</sub>+X<sub>B</sub>)/2</p><p class="m-auto"> &lbrace;Y = (Y<sub>A</sub>+Y<sub>B</sub>)/2</p></span></span>
    </span> <!--TODO: there is unexpected margin bottom on the p tag above-->
  </section>
  <section class="mb-10">
    <h3 class="text-purple-900">Baricentro Del Triangolo <span class="overline">ABC</span></h3>
    <span class="flex items-center gap-10">
      <img src="assets/geometriaAnalitica4.jpg" alt="Piano cartesiano" class="border-2 border-black w-60">
      <span class="text-blue-900 text-lg flex items-center gap-1"><span>G = </span><span class="flex flex-col"><p class="m-auto"> &lbrace;X = (X<sub>A</sub>+X<sub>B</sub>+X<sub>C</sub>)/3</p><p class="m-auto"> &lbrace;Y = (Y<sub>A</sub>+Y<sub>B</sub>+Y<sub>C</sub>)/3</p></span></span>
    </span>
  </section>
  <section class="mb-10">
    <h2 class="text-red-900">Funzione Lineare</h2>
    <span class="flex items-center gap-10">
      <img src="assets/geometriaAnalitica5.png" alt="Piano cartesiano" class="border-2 border-black w-60">
      <span class="text-blue-900 text-lg flex items-center gap-1">Y = <span title="M = coefficiente angolare">MX</span> + <span title="Intersezione con l'asse Y">Q</span></span>
    </span>
  </section>
  <section class="mb-10">
    <h3 class="text-purple-900">Formula per il coefficente Angolare</h3>
    <span class="flex items-center gap-10">
      <span class="text-blue-900 text-lg flex items-center gap-1">M = (Y<sub>2</sub>-Y<sub>1</sub>)/(X<sub>2</sub>-X<sub>1</sub>)</span>
    </span>
  </section>
</main>


