<!--TODO: Missing Graph images-->
<main class="w-full">
<h2 class="mat-h1 title">Equazioni e Diesequazioni</h2>
  <section class="segno_del_trinomio">
    <h3 class="text-purple-900">Segno Del Trinomio &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Ax<sup>2</sup> + Bx + C &nbsp;&nbsp;&nbsp;  (A > 0)</h3>
    <article>
      <table class=" table-auto border-collapse w-full">
        <tr class="border-y-2 border-gray-500">
          <th class="bg-gray-400 table-header">Discriminante</th>
          <td class="border-y-2 border-gray-400"><p>&Delta; &gt; 0</p></td>
          <td class="border-y-2 border-gray-400"><p>&Delta; &equals; 0</p></td>
          <td class="border-y-2 border-gray-400"><p>&Delta; &lt; 0</p></td>
        </tr>
        <tr class="border-y-2 border-gray-500">
          <th class="bg-gray-400 table-header">Grafico</th>
          <td class="border-y-2 border-gray-400"><span><img src="assets/graph1.jpg" alt="Grafico 1"></span></td>
          <td class="border-y-2 border-gray-400"><span><img src="assets/graph2.jpg" alt="Grafico 2"></span></td>
          <td class="border-y-2 border-gray-400"><span><img src="assets/graph3.jpg" alt="Grafico 3"></span></td>
        </tr>
        <tr class="border-y-2 border-gray-500">
          <th class=" bg-gray-400 table-header">Ax<sup>2</sup> + Bx + C &gt; 0</th>
          <td class="border-y-2 border-gray-400">x &lt; x<sub>1</sub> &or; x &gt; x<sub>2</sub></td>
          <td class="border-y-2 border-gray-400">x &equals; x<sub>1</sub></td>
          <td class="border-y-2 border-gray-400">&forall; x &isin; &reals;</td>
        </tr>
        <tr class="border-y-2 border-gray-500">
          <th class=" bg-gray-400 table-header">Ax<sup>2</sup> + Bx + C &equals; 0</th>
          <td class="border-y-2 border-gray-400">x &equals; x<sub>1</sub> &or; x &equals; x<sub>2</sub></td>
          <td class="border-y-2 border-gray-400">x &equals; x<sub>1</sub></td>
          <td class="border-y-2 border-gray-400">&nexists; x &isin; &reals;</td>
        </tr>
        <tr class="border-y-2 border-gray-500">
          <th class="bg-gray-400 table-header">Ax<sup>2</sup> + Bx + C &lt; 0</th>
          <td class="border-y-2 border-gray-400">x<sub>1</sub>&lt;x&lt;x<sub>2</sub></td>
          <td class="border-y-2 border-gray-400">&nexists; x &isin; &reals;</td>
          <td class="border-y-2 border-gray-400">&nexists; x &isin; &reals;</td>
        </tr>
      </table>
    </article>
  </section>
  <section class="segno_del_trinomio">
    <h3 class="text-purple-900">Segno Del Trinomio &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Ax<sup>2</sup> + Bx + C &nbsp;&nbsp;&nbsp;  (A < 0)</h3>
    <article>
      <table class="table-auto border-collapse w-full">
        <tr class="border-y-2 border-gray-500">
          <th class="bg-gray-400 table-header">Discriminante</th>
          <td class="border-y-2 border-gray-400"><p>&Delta; &gt; 0</p></td>
          <td class="border-y-2 border-gray-400"><p>&Delta; &equals; 0</p></td>
          <td class="border-y-2 border-gray-400"><p>&Delta; &lt; 0</p></td>
        </tr>
        <tr class="border-y-2 border-gray-500">
          <th class="bg-gray-400 table-header">Grafico</th>
          <td class="border-y-2 border-gray-400"><span><img src="assets/graph1.jpg" alt="Grafico 1"></span></td>
          <td class="border-y-2 border-gray-400"><span><img src="assets/graph2.jpg" alt="Grafico 2"></span></td>
          <td class="border-y-2 border-gray-400"><span><img src="assets/graph3.jpg" alt="Grafico 3"></span></td>
        </tr>
        <tr class="border-y-2 border-gray-500">
          <th class="bg-gray-400 table-header">Ax<sup>2</sup> + Bx + C &gt; 0</th>
          <td class="border-y-2 border-gray-400">x<sub>1</sub>&lt;x&lt;x<sub>2</sub></td>
          <td class="border-y-2 border-gray-400">&nexists; x &isin; &reals;</td>
          <td class="border-y-2 border-gray-400">&nexists; x &isin; &reals;</td>
        </tr>
        <tr class="border-y-2 border-gray-500">
          <th class="bg-gray-400 table-header">Ax<sup>2</sup> + Bx + C &equals; 0</th>
          <td class="border-y-2 border-gray-400">x &equals; x<sub>1</sub> &or; x &equals; x<sub>2</sub></td>
          <td class="border-y-2 border-gray-400">x &equals; x<sub>1</sub></td>
          <td class="border-y-2 border-gray-400">&nexists; x &isin; &reals;</td>
        </tr>
        <tr class="border-y-2 border-gray-500">
          <th class="bg-gray-400 table-header">Ax<sup>2</sup> + Bx + C &lt; 0</th>
          <td class="border-y-2 border-gray-400">x &lt; x<sub>1</sub> &or; x &gt; x<sub>2</sub></td>
          <td class="border-y-2 border-gray-400">x &ne; x<sub>1</sub> / x &ne; x<sub>2</sub></td>
          <td class="border-y-2 border-gray-400">&forall; x &isin; &reals;</td>
        </tr>
      </table>
    </article>
  </section>
  <section class="equazioni_irrazionali">
    <h3 class="text-purple-900">Equazioni Irrazionali</h3>
    <article class="flex gap-5 items-center" >
      <p class="equation align-center">
        &radic;(AX) = BX
      </p>
      <p class="arrow align-center">
        &rightarrow;
      </p>
      <span class="flex flex-col align-center ">
        <p>&lbrace; AX &ge; 0</p>
        <p>&lbrace; BX &ge; 0</p>
        <p>&lbrace; AX &equals; (BX)<sup>2</sup></p>
      </span>
    </article>
  </section>
  <section class="disequazioni_irrazionali">
    <h3 class="text-purple-900">Disequazioni Irrazionali </h3>
    <article class="flex gap-5 items-center" >
      <p class="equation align-center">
        &radic;(AX) &lt; BX
      </p>
      <p class="arrow align-center">
        &rightarrow;
      </p>
      <span class="flex flex-col align-center mr-20">
        <p>&lbrace; AX &ge; 0</p>
        <p>&lbrace; BX &ge; 0</p>
        <p>&lbrace; AX &lt; (BX)<sup>2</sup></p>
      </span>
      <p class="equation align-center">
        &radic;(AX) &gt; BX
      </p>
      <p class="arrow align-center">
        &rightarrow;
      </p>
      <span class="flex flex-col align-center ">
        <p>&lbrace; AX &ge; 0</p>
        <p>&lbrace; BX &lt; 0</p>
      </span>
      &cup;
      <span class="flex flex-col align-center ">
        <p>&lbrace; BX &ge; 0</p>
        <p>&lbrace; AX &gt; BX<sup>2</sup></p>
      </span>
    </article>

  </section>
  <section class="equazioni_modulo">
    <h3 class="text-purple-900">Equazioni con Modulo</h3>
    <article class="flex gap-5 items-center" >
      <p class="equation align-center">
        |AX| = BX
      </p>
      <p class="arrow align-center">
        &rightarrow;
      </p>
      <span class="flex flex-col align-center ">
        <p>&lbrace; AX &ge; 0</p>
        <p>&lbrace; AX &equals; BX</p>
      </span>
      &cup;
      <span class="flex flex-col align-center ">
        <p>&lbrace; AX &lt; 0</p>
        <p>&lbrace; -AX &equals; BX</p>
      </span>

    </article>

  </section>
  <section class="disequazioni_modulo">
    <h3 class="text-purple-900">Disequazioni con Modulo</h3>
    <article class="flex gap-5 items-center mb-10" >
      <p class="equation align-center">
        |AX| &lt; BX
      </p>
      <p class="arrow align-center">
        &rightarrow;
      </p>
      <span class="flex flex-col align-center ">
        <p>&lbrace; AX &ge; 0</p>
        <p>&lbrace; AX &lt; BX</p>
      </span>
      &cup;
      <span class="flex flex-col align-center ">
        <p>&lbrace; AX &lt; 0</p>
        <p>&lbrace; -AX &lt; BX</p>
      </span>

    </article>
    <article class="flex gap-5 items-center mb-10" >
      <p class="equation align-center">
        |AX| &gt; BX
      </p>
      <p class="arrow align-center">
        &rightarrow;
      </p>
      <span class="flex flex-col align-center ">
        <p>&lbrace; AX &ge; 0</p>
        <p>&lbrace; AX &gt; BX</p>
      </span>
      &cup;
      <span class="flex flex-col align-center ">
        <p>&lbrace; AX &lt; 0</p>
        <p>&lbrace; -AX &gt; BX</p>
      </span>

    </article>
    <article class="flex gap-5 items-center mb-10" >
      <p class="equation align-center">
        |AX| &gt; K
      </p>
      <p class="arrow align-center">
        &rightarrow;
      </p>
      <span class="flex flex-col align-center ">
        <p>AX &lt; -K &nbsp; &or; &nbsp; AX &gt; K</p>
      </span>
    </article>
    <article class="flex gap-5 items-center mb-10" >
      <p class="equation align-center">
        |AX| &lt; K
      </p>
      <p class="arrow align-center">
        &rightarrow;
      </p>
      <span class="flex flex-col align-center ">
        <p>-K &lt; AX &lt; K</p>
      </span>
    </article>
    <article class="flex gap-5 items-center mb-10" >
      <p class="equation align-center">
        |AX| &gt; |BX|
      </p>
      <p class="arrow align-center">
        &rightarrow;
      </p>
      <span class="flex flex-col align-center ">
        <p>AX<sup>2</sup> &gt; BX<sup>2</sup></p>
      </span>
    </article>
    <article class="flex gap-5 items-center mb-10" >
      <p class="equation align-center">
        |AX| &lt; |BX|
      </p>
      <p class="arrow align-center">
        &rightarrow;
      </p>
      <span class="flex flex-col align-center ">
        <p>AX<sup>2</sup> &lt; BX<sup>2</sup></p>
      </span>
    </article>
  </section>
</main>
